body {
  box-sizing: border-box;
  margin: 0;
  background: radial-gradient(#dc1efd, #591166);
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.grid-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgb(40, 238, 245);
}
